<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newEatenStatus="{{vegan}}">
		{{#if vegan}}DEVOUR TIME!{{else}}EATEN!{{/if}}
	</button>

	<button class="delete-burger"  data-id="{{id}}">DELETE</button>
</li>